
.Profile{
  background: #0c224b;
  
 
}
.imageInPublic{
 display: block;
 margin-left: auto;
 margin-right: auto;
 padding: 50px;
 width: 500px;
}

.address{
  color:white;
  font-size: 25px;
  background-color: #f3680c;
  align-items: flex-end;
  display: flex;
  justify-content: end;
  padding: 25px;
}
.address:hover{
  background-color:red ;
  color: black;
}
.FullName{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3680c;
}
.FullName:hover{
  color: red;
}